challenge2023_2.csv
[{"id":"5ccc1c34.26371c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"db44c5c3.56096","type":"inject","z":"5ccc1c34.26371c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":120,"wires":[["f67198ba.7bbd9"]]},{"id":"f67198ba.7bbd9","type":"file in","z":"5ccc1c34.26371c","name":"CSV","filename":"/home/user/challenge2023_2.csv","format":"utf8","chunk":false,"sendError":false,"x":290,"y":60,"wires":[["948780b8.a43138"]]},{"id":"948780b8.a43138","type":"csv","z":"5ccc1c34.26371c","name":"CSV5","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":370,"y":160,"wires":[[]]},{"id":"d7588d25.15c7f","type":"debug","z":"5ccc1c34.26371c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":960,"y":300,"wires":[]},{"id":"a41d362a.916bf","type":"mqtt in","z":"5ccc1c34.26371c","name":"","topic":"polimi/challenge_2/2023/id_code_generator","qos":"2","broker":"634bd4d1.6007cc","x":190,"y":400,"wires":[["1e429a7.8d057e6"]]},{"id":"1e429a7.8d057e6","type":"function","z":"5ccc1c34.26371c","name":"","func":"let id = JSON.parse(msg.payload).id;\nlet personCode = \"0941\";\nlet frame_number = (parseInt(id) + parseInt(personCode)) % 7711 \nglobal.set(\"frame_number\", frame_number);\n\n","outputs":1,"noerr":0,"x":490,"y":320,"wires":[[]]},{"id":"87ca11fa.169138","type":"switch","z":"5ccc1c34.26371c","name":"","property":"$contains(payload, 'MQTT_Publish')","propertyType":"jsonata","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":760,"y":420,"wires":[[]]},{"id":"85b907f3.330268","type":"switch","z":"5ccc1c34.26371c","name":"","property":"$contains(payload, 'col1'= n)","propertyType":"jsonata","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":720,"y":60,"wires":[[]]},{"id":"4a4f754d.7be594","type":"function","z":"5ccc1c34.26371c","name":"","func":"let \nreturn msg;","outputs":1,"noerr":3,"x":650,"y":180,"wires":[[]]},{"id":"634bd4d1.6007cc","type":"mqtt-broker","z":"","name":"HiveMQ Broker","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
